body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.name-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.hire-me-button {
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 40px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.download-resume-button {
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 40px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.dream-big-section {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

p {
    width: 70%;
}

.experiences-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 50px;
    box-shadow: -16px;
    border-radius: 5px;
}

.experiences-section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#left-item-border {
    border-left: 7px solid tomato;
}

#right-item-border {
    border-left: 7px solid blue;
}

.experiences-h1 {
    text-align: center;
}

footer p {
    width: 100%;
    text-align: center;
}